* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #F7F9FB;
}

.placeholder {
    margin-top: 15%;
}

.jumbotron {
    text-align: center;
    background-color: #8FC1E3;
}

a {
    color: #31708E
}

a:hover {
    color: #5085A5
}